## An Exploratory Analysis of Patent Data

## Purpose of the study:

The purpose of this study is:  
* to explain my motivation for tackling this problem,  
* to discuss the data source(s) I am using,  
* to explain the analysis I am performing.  

I will explain why this project is viable using exploratory analysis techniques and some interesting statistics.

## Data Source:

As the data source I have used [United States Patent and Trademark Office(USPTO) website](https://www.uspto.gov/learning-and-resources/ip-policy/economic-research/research-datasets). This source have been recommended by [Data is Plural](https://tinyletter.com/data-is-plural/letters/data-is-plural-2017-10-18-edition) on 10/18/2017.    

The Institution releases datasets in bulk XML format, csv format, and via APIs to "_...advance research on matters relevant to intellectual property, entrepreneurship, and innovation_" and "_...releases datasets to facilitate economic research on patents and trademarks_"  

The data source includes datasets under below categories:  
* __Trademark Case Files Dataset__ : Detailed on millions of trademark applications filed with or registrations issued by the USPTO since 1870  

* __Patent Assignment Dataset__: Detailed data patent assignments and other transactions recorded at the USPTO since 1970  

* __Trademark Assignment Dataset__: Detailed data on trademark assignments and other transactions recorded at the USPTO since 1955  

* __Patent Litigation Docket Reports Data__: Detailed patent litigation data on 74,623 unique district court cases filed during the period 1963-2015  

* __PatentsView__: Highly flexible API, search and download query builder, bulk download, and visualization interface for exploring and analyzing 40 years of patent data  

* __Patent Claims Research Dataset__: Detailed information on claims from U.S. patents granted between 1976 and 2014 and U.S. patent applications published between 2001 and 2014  

* __Cancer Moonshot Patent Data__: Detailed data on published patent applications and granted patents relevant to cancer research and development  

* __Patent Examination Research Dataset (Public PAIR)__: Detailed information on 9.2 million publicly viewable patent applications filed with the USPTO through December 2014  

* __Historical Patent Data Files__: Time series and micro-level data by high-level NBER technology categories on applications, grants, and in-force patents spanning two centuries of innovation  
  
    
    

In these categories, there exist huge amount of data. To illustrate, __Patent Assignment Dataset__ includes 1.2GB of zipped csv data just for 2016. Because it is not efficient to investigate whole dataset at once for a limited time, I will explore a sample amount of data in a specific category for this proposal.  

For the exploratory analysis, I will use csv format datasets due to size of raw data and time limitation. The csv format datasets represent recent years (after 2014 generally) and  represents a very limited time frame. Therefore, the recent datasets may just provide a cross sectional snapshop.

However, for the final project, I am planning to use XML format (or API for some) datasets to have a deep insight into the data and have a chance to investigate all the story.

## Significance of the study

The patent data has been investigated  by economic researchers for more than 50 years. The USPTO itself also makes research and analysis on the dataset regularly. However, by the improvements in the technology, globalization, change in the daily life neccessities, and improvement in analytics and data science have changed the context a lot. Currently, using powerful computers we are able to __clean__ huge amount of data in a very short time. In addition, using advance __Machine Learning__ techniques, we are able to analyze huge amount of data in a few hours. Furthermore, we can use a significant amount of data to train our models and make much more accurate inferences. In the past, not only it was difficult to reach the data but also it was difficult to apply several ML techniques as we do using gridsearch and pipelines. We  had to sample a very small portion of the data and make inferences due to manual work.  

The patent dataset itself is a real treasure. It shows us:
* The trends in technology and economy
* The quality of research
* The differences between states and countries in terms of research quality
* Creativity distribution 
* The brillant ideas to be industrialized

Due to the reasons above, I believe that this study will be great contribution to the industry and research.

##  Exploration:

In [1]:
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#assignment_df is the assignment table of Patent Assignment Dataset 2016 Category (size: 1.42 GB).
#The assignment data file contains a single entry for each of the 6,328,178 
#transactions recorded at the USPTO staring January 1970 and December 2016 (inclusive).
assignment_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/assignment.csv")

In [11]:
assignment_df.tail(15)

,rf_id,file_id,cname,caddress_1,caddress_2,caddress_3,caddress_4,reel_no,frame_no,convey_text,record_dt,last_update_dt,page_count,purge_in
7239346,411880355,16,STRAUB & POKOTYLO,788 SHREWSBURY AVENUE,"TINTON FALLS, NJ 07724",NaN,NaN,41188,355,CHANGE OF NAME (SEE DOCUMENT FOR DETAILS).,2016-12-26,2017-02-08,3,N
7239347,411880358,16,TOMTOM INTERNATIONAL B.V.,DE RUIJTERKADE 154,IP CREATION,"AMSTERDAM, 1011 AC NETHERLANDS",NaN,41188,358,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2017-02-07,2017-02-08,3,N
7239348,411880361,16,SIEMENS CORPORATION,3501 QUADRANGLE BLVD STE 230,"ORLANDO, FL 32817",NaN,NaN,41188,361,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2017-02-07,2017-02-08,3,N
7239349,411880401,16,"WESTERMAN, HATTORI, DANIELS AND ADRIAN","1250 CONNECTICUT AVENUE, NW",SUITE 700,"WASHINGTON, DC 20036",NaN,41188,401,CHANGE OF ADDRESS,2016-12-23,2017-02-08,68,N
7239350,411880486,16,EDMUND J. WALSH,600 ATLANTIC AVENUE,"BOSTON, MA 02210",NaN,NaN,41188,486,CORRECTIVE ASSIGNMENT TO CORRECT THE 2ND INVEN...,2016-12-23,2017-02-08,6,N
7239351,411880498,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,498,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-23,2017-02-08,2,N
7239352,411880705,16,BARNES & THORNBURG LLP,11 SOUTH MERIDIAN STREET,"INDIANAPOLIS, IN 46204",NaN,NaN,41188,705,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2017-02-07,2017-02-08,6,N
7239353,411880783,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,783,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,2,N
7239354,411880787,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,787,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,2,N
7239355,411880791,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,791,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,2,N
7239356,411880793,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,793,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,2,N
7239357,411880814,16,ROHM AND HAAS COMPANY,C/O DOW GLOBAL TECHNOLOGIES LLC,2040 DOW CENTER,"MIDLAND, MI 48674",NaN,41188,814,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,2016-12-27,2017-02-08,3,N
7239358,411880825,16,"MARC S. KAUFMAN, REED SMITH LLP",P.O. BOX 488,"PITTSBURGH, PA 15230",NaN,NaN,41188,825,CHANGE OF NAME (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,3,N
7239359,411880844,16,"DIRECTOR, DEITR","NIH, 6705 ROCKLEDGE DRIVE, SUITE 310",MSC 7980,"BETHESDA, MD 20892-7980",NaN,41188,844,CONFIRMATORY LICENSE (SEE DOCUMENT FOR DETAILS).,2016-12-27,2017-02-08,2,N
7239360,411880849,16,TERRY L MCCUTCHEON,"2000 BERING DRIVE, SUITE 700","HOUSTON, TX 77057",NaN,NaN,41188,849,MERGER (SEE DOCUMENT FOR DETAILS).,2017-02-07,2017-02-08,10,N

In [4]:
assignment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7239361 entries, 0 to 7239360
Data columns (total 14 columns):
rf_id             int64
file_id           int64
cname             object
caddress_1        object
caddress_2        object
caddress_3        object
caddress_4        object
reel_no           int64
frame_no          int64
convey_text       object
record_dt         object
last_update_dt    object
page_count        int64
purge_in          object
dtypes: int64(5), object(9)
memory usage: 773.2+ MB

In [8]:
# Verify the unique key
len(assignment_df['rf_id'].unique())

7239361

In [9]:
len(assignment_df['convey_text'].unique())

166869

In [14]:
len(assignment_df['purge_in'].unique())

1

In [15]:
# The assignee file contains data captured for the assignee(s) for each rf_id in assignment. 
#It includes the assignee’s name and address (street, city, state/country, postal code).
assignee_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/assignee.csv")

In [16]:
assignee_df.head()

,rf_id,ee_name,ee_address_1,ee_address_2,ee_city,ee_state,ee_postcode,ee_country
0,12800340,CHILDREN'S MEDICAL CENTER CORPORATION,"55 SHATTUCK STREET BOSTON, MA 02115",NaN,NaN,NaN,NaN,NaN
1,36250888,NORTHERN TELECOM LIMITED,NaN,NaN,NaN,NaN,NaN,NOT PROVIDED
2,36340874,PARADYNE CORPORATION,NaN,8550 ULMERTON ROAD,LARGO,FLORIDA,33540,NaN
3,36340875,PARADYNE CORPORATION,NaN,8550 ULMERTON ROAD,LARGO,FLORIDA,33540,NaN
4,36920537,"EHD, INC.",A TENNESSEE CORPORATION,500 GOULD DRIVE,COOKEVILLE,TENNESSEE,38501,NaN

In [19]:
assignment_df[assignment_df["rf_id"] ==36250888]

,rf_id,file_id,cname,caddress_1,caddress_2,caddress_3,caddress_4,reel_no,frame_no,convey_text,record_dt,last_update_dt,page_count,purge_in
1,36250888,1,NORTHERN TELECOM LIMITED,PATENT DEPT 265,P.O. BOX 3511 STATION C,OTTAWA ONTARIO CANADA K1Y 4H7,NaN,3625,888,CHANGE OF NAME (SEE DOCUMENT FOR DETAILS).,1979-03-05,2010-09-24,4,N

In [21]:
# the assignor data file contains data recorded for the assignor(s) for each rf_id in assignment..
assignor_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/assignor.csv")

In [22]:
assignor_df.head()

      rf_id                            or_name     exec_dt ack_dt
0  12800340                     ATALA, ANTHONY  1994-12-22    NaN
1  36250888  NORTHERN ELECTRIC COMPANY LIMITED  1976-03-01    NaN
2  36340874               ARMSTRONG, THOMAS R.  1979-02-23    NaN
3  36340875               ARMSTRONG, THOMAS R.  1979-02-23    NaN
4  36920537                         GOULD INC.  1978-10-31    NaN

In [33]:
assignor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16766049 entries, 0 to 16766048
Data columns (total 4 columns):
rf_id      int64
or_name    object
exec_dt    object
ack_dt     object
dtypes: int64(1), object(3)
memory usage: 511.7+ MB

In [32]:
# Is there any missing value in exec_dt?
len(assignor_df[assignor_df['exec_dt'].isnull()])

7983

There exist a small amount of null values in execution date.

In [36]:
# The documentid data file contains identification data for the patent(s) and/or application(s) conveyed in each transaction.
documentid_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/documentid.csv")

In [42]:
documentid_df.tail(10)

,rf_id,title,lang,appno_doc_num,appno_date,appno_country,pgpub_doc_num,pgpub_date,pgpub_country,grant_doc_num,grant_date,grant_country
12177335,411880705,FEMORAL SURGICAL INSTRUMENT AND METHOD OF USIN...,en,13834374,2013-03-15,US,2.014028e+10,2014-09-18,US,9113918,2015-08-25,US
12177336,411880783,QUINOLINE DERIVATIVES AND USES THEREOF,en,13093261,2011-04-25,US,2.011026e+10,2011-10-20,US,8524739,2013-09-03,US
12177337,411880787,PROTEINS WITH REPETITIVE BACTERIAL-IG-LIKE (BI...,en,15134168,2016-04-20,US,2.016022e+10,2016-08-04,US,9505809,2016-11-29,US
12177338,411880791,METHODS AND COMPOSITIONS FOR REGULATING MUSASH...,en,14559514,2014-12-03,US,2.015016e+10,2015-06-11,US,NaN,NaN,NaN
12177339,411880793,Graft collar and scaffold apparatuses for musc...,en,12455765,2009-06-06,US,2.010005e+10,2010-02-25,US,NaN,NaN,NaN
12177340,411880814,ACRYLIC DISPERSIONS WITH MULTI-FUNCTIONAL ACRY...,en,14107176,2013-12-16,US,2.014018e+10,2014-06-26,US,9574101,2017-02-21,US
12177341,411880825,SYSTEM AND METHOD OF INTERLOCKING TO PROTECT S...,en,14682073,2015-04-08,US,2.015021e+10,2015-07-30,US,NaN,NaN,NaN
12177342,411880825,SYSTEM AND METHOD OF INTERLOCKING TO PROTECT S...,en,14993887,2016-01-12,US,2.016024e+10,2016-08-18,US,NaN,NaN,NaN
12177343,411880844,PAIN TREATMENT USING ERK2 INHIBITORS,en,12997836,2010-12-13,US,2.011029e+10,2011-12-01,US,8951979,2015-02-10,US
12177344,411880849,STABILIZER FOR PIPE HANDLING EQUIPMENT,en,11975858,2007-10-22,US,2.009010e+10,2009-04-23,US,7726394,2010-06-01,US

**

Let's investigate a few specific record from 4 tables

In [44]:
assignment_df[assignment_df['rf_id']==12800340]

,rf_id,file_id,cname,caddress_1,caddress_2,caddress_3,caddress_4,reel_no,frame_no,convey_text,record_dt,last_update_dt,page_count,purge_in
0,12800340,1,THOMAS J. ENGELLENNER,LAHIVE & COCKFIELD,60 STATE STREET,SUITE 510,"BOSTON, MA 02109",1280,340,ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT...,1994-12-30,1999-07-29,2,N

In [39]:
assignee_df[assignee_df['rf_id']==12800340]

,rf_id,ee_name,ee_address_1,ee_address_2,ee_city,ee_state,ee_postcode,ee_country
0,12800340,CHILDREN'S MEDICAL CENTER CORPORATION,"55 SHATTUCK STREET BOSTON, MA 02115",NaN,NaN,NaN,NaN,NaN

In [40]:
assignor_df[assignor_df['rf_id']==12800340]

      rf_id         or_name     exec_dt ack_dt
0  12800340  ATALA, ANTHONY  1994-12-22    NaN

In [46]:
# assignment_conveyance is a constructed data file containing the conveyance type (convey_ty) and an ”employer assignment” indicator (intrafirm) for each rf_id. [
assignment_conveyance_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/assignment_conveyance.csv")

In [47]:
assignment_conveyance_df.head()

      rf_id   convey_ty  employer_assign
0  12800340  assignment                1
1  36250888     namechg                0
2  36340874  assignment                1
3  36340875  assignment                1
4  36920537  assignment                0

In [49]:
# This is a constructed data file containing the rf_id, application number, and patent number 
#from documentid and matching application and patent 
#number from USPTO administrative records (indicated by the prefix admin_). 
documentid_admin_df = pd.read_csv("/Users/isatuncman/Documents/Data Incubator Challenge/patent_data/documentid_admin.csv")

In [50]:
documentid_admin_df.head()

,rf_id,appno_doc_num,grant_doc_num,admin_appl_id_for_grant,admin_pat_no_for_appno,error
0,173530157,NaN,0489945,NaN,NaN,missing appno_doc_num
1,46760234,NaN,4031087,NaN,NaN,missing appno_doc_num
2,51840184,NaN,3928770,NaN,NaN,missing appno_doc_num
3,71320277,NaN,3909022,NaN,NaN,missing appno_doc_num
4,197540914,NaN,0470036,NaN,NaN,missing appno_doc_num